<html>
<head>
    <title>联系方式设置</title>
    <meta name="description" content="联系方式设置">
    <meta name="keywords" content="联系方式设置">
    <%layout("../layout/header_layout.html"){%>
    <script type="text/javascript">
        $(function () {
            $(".btn-save").click(function () {
                Common.post("${basePath}/param/save", $("form.save-form").serializeArray(), function (json) {
                    if (json.code == Common.SUCC) {
                        Common.go("${basePath}/param/list")
                    } else {
                        $(".total-msg-error .msg-con").text(json.msg);
                        $(".total-msg-error").removeClass("hide");
                        $(".total-msg-error").addClass("show");
                    }
                });
            });
        });
    </script>
    <%}%>
</head>
<body>
<%layout("../layout/body_layout.html"){%>
<div class="query-zone">
    <form class="sui-form form-horizontal sui-validate save-form" method="POST">
        <div class="control-group">
            <label class="control-label center">联系方法设置：</label>
        </div>
        <input value="${param.id!}" name="id" type="hidden">
        <div class="control-group">
            <script id="container" name="val" type="text/plain">
                ${param.val!}
            </script>
            <!-- 配置文件 -->
            <script type="text/javascript" src="/static/ue/ueditor.config.js"></script>
            <!-- 编辑器源码文件 -->
            <script type="text/javascript" src="/static/ue/ueditor.all.js"></script>
            <!-- 实例化编辑器 -->
            <script type="text/javascript">
                var ue = UE.getEditor('container', {
                    toolbars: [[
                        'forecolor', //字体颜色
                        'bold', //加粗
                        'italic', //斜体
                        'blockquote', //引用
                        'fontfamily', //字体
                        'fontsize', //字号
                        'link', //超链接
                        'justifyleft', //居左对齐
                        'justifyright', //居右对齐
                        'justifycenter', //居中对齐
                        'justifyjustify', //两端对齐
                        'insertorderedlist', //有序列表
                        'insertunorderedlist', //无序列表
                        'removeformat'
                    ]],
                    initialFrameWidth: 980,
                    initialFrameHeight: 550
                });
            </script>
        </div>
        <div class="control-group">
            <label class="control-label"></label>

            <div class="controls">
                <button type="button" class="sui-btn btn-primary btn-save">保存</button>
            </div>
            <div class="sui-msg msg-naked msg-error total-msg-error hide">
                <div class="msg-con">错误信息提示</div>
                <s class="msg-icon"></s>
            </div>
        </div>
    </form>
</div>
<%}%>
</body>
</html>