<html>
<head>
    <title>系统参数设置</title>
    <meta name="description" content="display">
    <meta name="keywords" content="display">
    <%layout("../layout/header_layout.html"){%>
    <script type="text/javascript">
        $(function(){
            $('#demo4.input-daterange').datepicker({
                beforeShowDay: function (date){
                    if (date.getMonth() == (new Date()).getMonth())
                        switch (date.getDate()){
                            case 4:
                                return {
                                    tooltip: 'Example tooltip',
                                    classes: 'active'
                                };
                            case 8:
                                return false;
                            case 12:
                                return "green";
                        }
                }
            });
            Pagination.init();
        });
    </script>
    <%}%>
</head>
<body>
<%layout("../layout/body_layout.html"){%>
<div class="query-zone">
    <form class="sui-form form-horizontal query-form">
        <input type="hidden" name="perSize" value="${page.perSize!10}">
        <div class="sui-row">
            <div class="span2">
                <div class="input-prepend"><span class="add-on">参数名</span>
                    <input id="prependedInput" type="text" name="name" value="${params.name!}" placeholder="类目名" class="input-fat h28">
                </div>
            </div>
        </div>
        <div class="sui-row" style="margin-top: 10px;">
            <div class="span2">
                <button class="sui-btn btn-query">查询</button>
            </div>
            <div class="span2">
                <a class="sui-btn" href="${basePath}/param/add">添加系统参数</a>
            </div>
        </div>
    </form>
</div>
<table class="sui-table table-bordered">
    <thead>
    <tr>
        <th>＃</th>
        <th>参数名</th>
        <th>参数类型</th>
        <th>参数值</th>
        <th>更新时间</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <%for(param in data!){%>
    <tr>
        <td>${param.id}</td>
        <td>${param.name}</td>
        <td>${param.type.value!}</td>
        <td>${param.val!}</td>
        <td>${param.updated, 'yyyy-MM-dd HH:mm:ss'}</td>
        <td>${param.created, 'yyyy-MM-dd HH:mm:ss'}</td>
        <td>
            <a href="${basePath}${param.path!'/param/edit'}?id=${param.id!}" class="sui-btn btn-small btn-link">设置</a>
        </td>
    </tr>
    <%}%>
    </tbody>
</table>
<#small_page val="${page}" size="large" params="${params}"/>
<%}%>
<%include("../modal/sel_cat.html"){}%>
</body>
</html>