<html>
<head>
    <title>${item.name!} - 编辑</title>
    <meta name="description" content="display">
    <meta name="keywords" content="display">
    <%layout("../layout/header_layout.html"){%>

    <link rel="stylesheet" type="text/css" href="/webuploader/webuploader.css">

    <!--引入JS-->
    <script type="text/javascript" src="/webuploader/webuploader.js"></script>

    <script type="text/javascript">
        $(function () {
            ColorSel.init();
            SizeSel.init();
            $('#demo4.input-daterange').datepicker({
                beforeShowDay: function (date) {
                    if (date.getMonth() == (new Date()).getMonth())
                        switch (date.getDate()) {
                            case 4:
                                return {
                                    tooltip: 'Example tooltip',
                                    classes: 'active'
                                };
                            case 8:
                                return false;
                            case 12:
                                return "green";
                        }
                }
            });
            $(".btn-save").click(function () {
                Common.post("${basePath}/item/save", $("form.save-form").serializeArray(), function (json) {
                    if (json.code == Common.SUCC) {
                        Common.go("${basePath}/item/list")
                    } else {
                        $(".total-msg-error .msg-con").text(json.msg);
                        $(".total-msg-error").removeClass("hide");
                        $(".total-msg-error").addClass("show");
                    }
                });
            });
            $(".query-form input[name='cName']").bind("focus", function () {
                $(this).next().trigger("click");
            });
            $('#j_modal').on('show', function () {
                $('.sui-modal .modal-header .modal-title').html("选择商品类目");
            });
            $('#j_modal').on('shown', function () {
                $('form.sel-form .btn-clear').unbind("click").bind("click", function () {
                    $(".query-form input[name='cid']").val("");
                    $(".query-form input[name='cName']").val("");
                    $('#j_modal').modal('hide')
                });
                $('form.sel-form .btn-query').click(function () {
                    Common.post("${basePath}/cat/sel/query", $('form.sel-form').serializeJson(), function (json) {
                        $('.sui-modal .modal-body').find("table").remove();
                        $('.sui-modal .modal-body').find(".sui-pagination").remove();
                        $('.sui-modal .modal-body').append(json.data);
                        $('#j_modal').find(".sel-table").find("tbody tr").unbind("dbclick").bind("dblclick", function () {
                            var pid = $(this).find("input[name='id']").val();
                            var name = $(this).find("input[name='name']").val();
                            $(".save-form input[name='cid']").val(pid);
                            $(".save-form input[name='cName']").val(name);
                            $(".save-form input[name='cName']").focus();
                            $('#j_modal').modal('hide')
                        });
                    });
                });
                $('#j_modal').find(".sel-table").find("tbody tr").unbind("dbclick").bind("dblclick", function () {
                    var pid = $(this).find("input[name='id']").val();
                    var name = $(this).find("input[name='name']").val();
                    $(".save-form input[name='cid']").val(pid);
                    $(".save-form input[name='cName']").val(name);
                    $(".save-form input[name='cName']").focus();
                    $('#j_modal').modal('hide')
                });
            });
            var $list = $('#fileList'),
            // 优化retina, 在retina下这个值是2
                    ratio = window.devicePixelRatio || 1,

            // 缩略图大小
                    thumbnailWidth = 100 * ratio,
                    thumbnailHeight = 100 * ratio,

            // Web Uploader实例
                    uploader;

            // 初始化Web Uploader
            uploader = WebUploader.create({

                // 自动上传。
                auto: true,

                // swf文件路径
                swf: '/webuploader/Uploader.swf',

                // 文件接收服务端。
                server: '/file/uploadItemPic',

                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: '#filePicker',

                // 只允许选择文件，可选。
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png',
                    mimeTypes: 'image/*'
                }
            });

            // 当有文件添加进来的时候
            uploader.on('fileQueued', function (file) {
                var $li = $(
                                '<div id=\"' + file.id + '\" class=\"file-item thumbnail\">' +
                                '<img>' +
                                '<div class=\"info\">' +
                                '<label class=\"radio-pretty inline\">' +
                                '<input type=\"radio\" value=\"' + file.name + '\"  name=\"mainPicture\"><span>设为主图</span>' +
                                '</label></div>' +
                                '</div>'
                        ),
                        $img = $li.find('img');

                $list.append($li);

                // 创建缩略图
                uploader.makeThumb(file, function (error, src) {
                    if (error) {
                        $img.replaceWith('<span>不能预览</span>');
                        return;
                    }

                    $img.attr('src', src);
                }, thumbnailWidth, thumbnailHeight);
            });

            // 文件上传过程中创建进度条实时显示。
            uploader.on('uploadProgress', function (file, percentage) {
                var $li = $('#' + file.id),
                        $percent = $li.find('.progress span');

                // 避免重复创建
                if (!$percent.length) {
                    $percent = $('<p class="progress"><span></span></p>')
                            .appendTo($li)
                            .find('span');
                }

                $percent.css('width', percentage * 100 + '%');
            });

            // 文件上传成功，给item添加成功class, 用样式标记上传成功。
            uploader.on('uploadSuccess', function (file) {
                $('#' + file.id).addClass('upload-state-done');
                $('#' + file.id).append("<div class=\"file-panel\" style=\"height: 30px;\"><span class=\"cancel\">X</span></div>");
                $('#' + file.id).append("<input type=\"hidden\" name=\"uploadFile\" value=\"" + file.name + "\" >");
                $('#' + file.id).mouseover(function () {
                    $(this).find(".file-panel").show();
                });
                $('#' + file.id).mouseout(function () {
                    $(this).find(".file-panel").hide();
                });

            });

            // 文件上传失败，现实上传出错。
            uploader.on('uploadError', function (file) {
                var $li = $('#' + file.id),
                        $error = $li.find('div.error');

                // 避免重复创建
                if (!$error.length) {
                    $error = $('<div class="error"></div>').appendTo($li);
                    $('#' + file.id).append("<div class=\"file-panel\" style=\"height: 30px;\"><span class=\"cancel\">X</span></div>");
                    $('#' + file.id).mouseover(function () {
                        $(this).find(".file-panel").show();
                    });
                    $('#' + file.id).mouseout(function () {
                        $(this).find(".file-panel").hide();
                    });
                    $('#' + file.id).find(".file-panel .cancel").unbind("click").bind("click", function () {
                        $('#' + file.id).remove();
                    });
                }

                $error.text('上传失败');
            });

            // 完成上传完了，成功或者失败，先删除进度条。
            uploader.on('uploadComplete', function (file) {
                $('#' + file.id).find('.progress').remove();
            });
            CatSel.init("/katyusha/admin/cat/sel/query", "form.save-form", "cid", "cName");

            $('.uploader-list .item-pic').find(".file-panel .cancel").unbind("click").bind("click", function () {
                $(this).parents('.uploader-list .item-pic').remove();
            });
            $('.uploader-list .item-pic').mouseover(function () {
                $(this).find(".file-panel").show();
            });
            $('.uploader-list .item-pic').mouseout(function () {
                $(this).find(".file-panel").hide();
            });
        });
    </script>
    <%}%>
</head>
<body>
<%layout("../layout/body_layout.html"){%>
<div class="query-zone">
    <form class="sui-form form-horizontal sui-validate save-form" method="POST" action="${basePath}/item/save">
        <input type="hidden" name="id" value="${item.id}">
        <div class="control-group">
            <label for="inputName" class="control-label"><b style="color: #f00;">*</b> 商品名：</label>

            <div class="controls">
                <input type="text" id="inputName" class="h24 input-xxlarge" name="name" placeholder="商品名"
                       maxlength="60" value="${item.name!}"
                       data-rules="required|minlength=2|maxlength=60">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">摘要介绍：</label>

            <div class="controls">
                <textarea rows="3" class="input-block-level input-xxlarge" maxlength="100"
                          name="summary" data-rules="minlength=2|maxlength=60">${item.summary!}</textarea>
            </div>
        </div>
        <div class="control-group">
            <label for="tags" class="control-label">标签：</label>

            <div class="controls">
                <input type="text" id="tags" class="h24 input-xxlarge" name="tags" placeholder="标签，多个标签用空格隔开"
                       maxlength="60" value="${item.tags}"
                       data-rules="minlength=2|maxlength=60">
            </div>
        </div>
        <div class="control-group">
            <label for="tags" class="control-label">价格：</label>

            <div class="controls">
                <div class="input-prepend input-append">
                    <span class="add-on">$</span>
                    <input type="text" name="pricePre" data-rules="digits" placeholder="0"
                           class="span2 input-fat h28 w100 right" value="${item.pricePre!}">
                    <span class="add-on" style="min-width:1px;">.</span>
                    <input type="text" name="priceEnd" placeholder="0" data-rules="digits"
                           class="span2 input-fat h28 w50" value="${item.priceEnd!}">
                </div>
            </div>
            <label for="cName" class="control-label"><b style="color: #f00;">*</b> 类目：</label>

            <div class="controls">
                <input type="hidden" name="cid" value="${item.catId!}"/>
                <input type="text" id="cName" class="h24" name="cName" value="${item.catName!}" placeholder="类目" data-rules="required">
                <a class="sui-btn h28" data-toggle="modal" data-remote="${basePath}/cat/sel?parent=false" data-width="large"
                   data-target="#J_sel_cat" class="sui-btn btn-primary">..</a>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">上传图片：</label>

            <div class="controls">
                <div class="uploader-div">
                    <!--用来存放item-->
                    <div id="fileList" class="uploader-list" style="margin-bottom: 10px">
                        <%for(pic in item.picList!){%>
                        <div id="item-pic-${pic.id}" class="file-item thumbnail item-pic">
                            <img src="/file?file=${pic.path!}" />
                            <div class="file-panel" style="height: 30px; display: none;">
                                <span class="cancel">X</span>
                            </div>
                            <input type="hidden" name="pic_id" value="${pic.id!}">
                            <div class="info">
                                <label class="radio-pretty inline ${item.mainPicture == pic.path? 'checked':''}">
                                    <input type="radio" value="${pic.path!}" ${item.mainPicture == pic.path? 'checked':''}  name="mainPicture"><span>设为主图</span>
                                </label>
                            </div>
                        </div>
                        <%}%>
                    </div>
                    <div id="filePicker">选择图片</div>
                </div>
            </div>
            <div class="sui-msg msg-naked show">
                <div class="msg-con">找茬上传宽高为450px * 450px的图片</div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">颜色：</label>
            <div class="controls">
                <div class="color-list" style="margin-bottom: 10px;">
                    <%for(color in colors!){%>
                    <label class="checkbox-pretty inline ${color.checked? 'checked' : ''}">
                        <input type="checkbox" name="color" ${color.checked? 'checked' : ''} value="${color.id}"><span>${color.value!}</span>
                    </label>
                    <%}%>
                </div>
                <a class="sui-btn h24" data-toggle="modal" data-width="small"
                   data-target="#J_add_color" class="sui-btn btn-primary">+</a>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">尺码：</label>

            <div class="controls">
                <div class="size-list" style="margin-bottom: 10px;">
                    <%for(size in sizes!){%>
                    <label class="checkbox-pretty inline  ${size.checked? 'checked' : ''}">
                        <input type="checkbox" name="size"  ${size.checked? 'checked' : ''} value="${size.id}"><span>${size.value!}</span>
                    </label>
                    <%}%>
                </div>
                <a class="sui-btn h24" data-toggle="modal" data-width="small"
                   data-target="#J_add_size" class="sui-btn btn-primary">+</a>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">详情：</label>
            <script id="container" name="desc" type="text/plain">
                ${item.content!}
            </script>
            <!-- 配置文件 -->
            <script type="text/javascript" src="/static/ue/ueditor.config.js"></script>
            <!-- 编辑器源码文件 -->
            <script type="text/javascript" src="/static/ue/ueditor.all.js"></script>
            <!-- 实例化编辑器 -->
            <script type="text/javascript">
                var ue = UE.getEditor('container', {
                    toolbars: [[
                        'forecolor', //字体颜色
                        'bold', //加粗
                        'italic', //斜体
                        'blockquote', //引用
                        'fontfamily', //字体
                        'fontsize', //字号
                        'link', //超链接
                        'simpleupload', //单图上传
                        'justifyleft', //居左对齐
                        'justifyright', //居右对齐
                        'justifycenter', //居中对齐
                        'justifyjustify', //两端对齐
                        'insertorderedlist', //有序列表
                        'insertunorderedlist', //无序列表
                        'removeformat'
                    ]],
                    initialFrameWidth: 980,
                    initialFrameHeight: 550
                });
            </script>
        </div>
        <div class="control-group">
            <label class="control-label"></label>

            <div class="controls">
                <button type="button" class="sui-btn btn-primary btn-save">保存</button>
            </div>
            <div class="sui-msg msg-naked msg-error total-msg-error hide">
                <div class="msg-con">错误信息提示</div>
                <s class="msg-icon"></s>
            </div>
        </div>
    </form>
</div>
<%include("../modal/sel_cat.html"){}%>
<%include("../modal/sel_add_color.html"){}%>
<%include("../modal/sel_add_size.html"){}%>
<%}%>
</body>
</html>