<div class="container-right">
    <div class="box-moder ad-box">
        <div class="box-moder min-top-ad">
            <a href="/renzheng" target="_blank"><i class="s-level pull-right"><i class="gh-bg2 hxrz-lv-0"></i></i>这是什么啊</a>
        </div>
    </div>
    <div class="box-moder ad-box">
        <div class="r-ad r-box-ad2">
            <script type="text/javascript">
                /*右底部*/
                var cpro_id = "u2080892";
            </script>
            <script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>
        </div>
    </div>
    <div class="box-moder r-box-ad2">
        <a href="http://s.click.taobao.com/t?e=m%3D2%26s%3DyuIAA9tJSNAcQipKwQzePCperVdZeJviEViQ0P1Vf2kguMN8XjClAt12pvbD6U9sSG50ncZrUg%2FPQAEpDvdfrkcc%2BlbBNNF5KYbUIgOxjOnwGpGqHhk%2FH%2Bdn1BbglxZYxUhy8exlzcq9AmARIwX9K%2BnbtOD3UdznPV1H2z0iQv9NkKVMHClW0QbMqOpFMIvnvjQXzzpXdTHGJe8N%2FwNpGw%3D%3D" target="_blank">
            <img src="/static/ad/300-250.gif" />
        </a>
    </div>
</div>